@model Sisteme1.Models.Guest

<div class="text-center">
<h4> Te dhena</h4>

<table>
   <p>Preferenca Muzikore : @Model.MusicName</p> 
    
</table>
</div>
<br />
<div class="text-center">
<a class="btn  btn-outline-danger" asp-action="Pastro" asp-controller="Home">Fshije</a>
</div>